@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;
header{
    position:relative;
    .desktop-nav{
        position:absolute;
        top :0;
        z-index:10;
        background-color: $background-transparent;
        padding-top : 0.6rem;
        padding-bottom: 0.6rem;
        nav{
            @include flex(row,space-between, center);
            width : 90%;
            .secondary-button{
                margin-left:4rem;
            }
        }
        .navbar{
            @include flex(row,space-between, center);
            gap:$x-gap-m;
        }
        .socials{
            @include flex(row,space-between, center);
            gap:$x-gap-s;
        }
        .primary-nav, .user-nav{
            @include flex(row,space-between, center);
            gap:$x-gap-m;
        }
        .logo{
            img{
                width:10rem;
            }
            margin-right:1rem;
        }
        a{
            text-decoration: none;
            color:$primary-color;
            @include text($primary-color,$quartenary-font,$text-size:1.25rem)
        }
        li{
            list-style: none;
        }
        .line{
            box-shadow: 0 2px 0 #64626240;
        }
    }

    .mobile-nav{
        position:absolute;
        top :0;
        z-index:10;
        padding-top : 4rem;
        padding-bottom: 0.6rem;
        .burger-nav{
            img{
                width : 2rem;
            }
        }
        nav{
            @include flex(row,space-between, start);
            width : 72%;
        }
        .navbar{
            @include flex(column,space-between, start);
            background-color: $background-transparent;
        }
        .socials{
            @include flex(row,space-between, center);
            gap:$x-gap-s;
            flex-wrap : nowrap;
        }
        .primary-nav{
            @include flex(column,start, start);
        }
        a{
            text-decoration: none;
            color:$primary-color;
            @include text($primary-color,$quartenary-font,$text-size:1.25rem)
        }
        li{
            list-style: none;
            width : 100%;
            padding : calc($y-gap-s / 4);
        }
        .in-page{
            background-color: $terciary-color;
        }
    }
}

/**
**************** Mobile **************************
**/
//@media (max-width: 1090px){}