@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;
.information{
    .container{
        .row{
            width:100%;
            @include flex(row,space-between,start);
            //gap:$x-gap-l;
            article{
                //flex : 1 1 calc(50% - $x-gap-l);
                .content{
                    width : 30rem;
                    .cell{
                        width : 30rem;
                        height : 20rem;
                        overflow: hidden;
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .row:last-child{
            article{
                //flex : 2 1 calc(100% - $x-gap-l);
                width : 100%;
                @include flex(row,space-between,stretch);
                .cell{
                    width : 30rem;
                    overflow: hidden;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
.information-hotel{
    .container{
        margin: auto;
        .row{
            width:100%;
            @include flex(row,space-between,stretch);
            >h3{
                width: 100%;
            }
            article{
                .content{
                    width : 30rem;
                    .cell{
                        width : 30rem;
                        height : 20rem;
                        overflow: hidden;
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .facilities{
                img{
                    width : 1.8rem;
                }
                ul{
                    @include flex(row, start,center);
                }
                li{
                    flex : 1 1 calc(50% - $x-gap-s);
                    list-style: none;
                    @include flex(row, start,center);
                    gap : $x-gap-s;
                }
            }
        }
    }
}