* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #E5E0DC;
  padding-bottom: 3.5rem;
}

h1 {
  color: #D9C7B3;
  font-family: "Playfair Display Medium", sans-serif;
  font-size: 6.25rem;
  margin: 0.5rem 0;
  text-align: right;
}

h2 {
  color: #363A2B;
  font-family: "Playfair Display Medium", sans-serif;
  font-size: 6rem;
  margin: 0.5rem 0;
}

h3 {
  color: #363A2B;
  font-family: "Playfair Display Bold", sans-serif;
  font-size: 3rem;
  margin: 0.5rem 0;
}

h4 {
  color: #363A2B;
  font-family: "Playfair Display Bold", sans-serif;
  font-size: 1.875rem;
  margin: 0.5rem 0;
}

h5 {
  color: #363A2B;
  font-family: "Karla Regular", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

p {
  color: #363A2B;
  font-family: "Karla Regular", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.legend {
  color: #363A2B;
  font-family: "Karla Regular", sans-serif;
  font-size: 0.9375rem;
  margin: 0.5rem 0;
}

.bold-text {
  color: #4F6234;
  font-family: "Karla Bold", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
}

/**
**************** Mobile **************************
**/
@media (max-width: 769px) {
  h1 {
    color: #D9C7B3;
    font-family: "Playfair Display Regular", sans-serif;
    font-size: 3.125rem;
    margin: 0.5rem 0;
    text-align: center;
  }
  h2 {
    color: #363A2B;
    font-family: "Playfair Display Medium", sans-serif;
    font-size: 4rem;
    margin: 0.5rem 0;
  }
  h4 {
    color: #363A2B;
    font-family: "Playfair Display Bold", sans-serif;
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}
.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 72%;
  margin: auto;
}

.row {
  width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

/**
**************** Mobile **************************
**/
header {
  position: relative;
}
header .desktop-nav {
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(229, 224, 220, 0.8901960784);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
header .desktop-nav nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
header .desktop-nav nav .secondary-button {
  margin-left: 4rem;
}
header .desktop-nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
header .desktop-nav .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}
header .desktop-nav .primary-nav, header .desktop-nav .user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
header .desktop-nav .logo {
  margin-right: 1rem;
}
header .desktop-nav .logo img {
  width: 10rem;
}
header .desktop-nav a {
  text-decoration: none;
  color: #363A2B;
  color: #363A2B;
  font-family: "Karla Medium", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
header .desktop-nav li {
  list-style: none;
}
header .desktop-nav .line {
  box-shadow: 0 2px 0 rgba(100, 98, 98, 0.2509803922);
}
header .mobile-nav {
  position: absolute;
  top: 0;
  z-index: 10;
  padding-top: 4rem;
  padding-bottom: 0.6rem;
}
header .mobile-nav .burger-nav img {
  width: 2rem;
}
header .mobile-nav nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 72%;
}
header .mobile-nav .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  background-color: rgba(229, 224, 220, 0.8901960784);
}
header .mobile-nav .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
  flex-wrap: nowrap;
}
header .mobile-nav .primary-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
header .mobile-nav a {
  text-decoration: none;
  color: #363A2B;
  color: #363A2B;
  font-family: "Karla Medium", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
header .mobile-nav li {
  list-style: none;
  width: 100%;
  padding: 0.375rem;
}
header .mobile-nav .in-page {
  background-color: #D9C7B3;
}

/**
**************** Mobile **************************
**/
footer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
footer .row .column {
  flex: 1 1 calc(40% - 2rem);
}
footer .row .column > p {
  width: 50%;
}
footer .row .column .logo {
  margin-right: 1rem;
}
footer .row .column .logo img {
  width: 10rem;
}
footer .row .column .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}
footer .row .column ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
footer .row .column ul li {
  list-style: none;
  color: #363A2B;
  font-family: "Karla Regular", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}
footer .row .column ul li a {
  color: #363A2B;
  font-family: "Karla Regular", sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
footer .row .column:last-child {
  flex: 1 1 calc(20% - 2rem);
}
footer .row .column:last-child .foot-nav {
  height: 100%;
}

/**
**************** Mobile **************************
**/
@media (max-width: 769px) {
  footer .container-fluid {
    width: 72%;
    margin: auto;
  }
  footer .container-fluid .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }
  footer .container-fluid .row .column > p {
    width: 100%;
  }
  footer .container-fluid .row .column:nth-child(2) li {
    margin: 0px;
  }
}
.hero-banner {
  position: relative;
  width: 100%;
}
.hero-banner video {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-banner h1 {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translatey(-25%);
}
.hero-banner .form {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 50%);
  background-color: #D9C7B3;
  padding: 2rem;
  border-radius: 18px;
}
.hero-banner .form input, .hero-banner .form select {
  background-color: #E1D2C2;
  height: 3.5rem;
  width: 100%;
  padding: 1.3rem;
  border-radius: 8px;
  border: none;
}
.hero-banner .form label {
  font-family: "Karla Regular", sans-serif;
}
.hero-banner .form .form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.3rem;
}
.hero-banner .form .form-column {
  flex: 1.5 1 calc(38% - 1.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.hero-banner .form .form-column:nth-child(2) {
  flex: 1 1 calc(24% - 1.3rem);
}
.hero-banner .form .form-row:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.landscape {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.landscape video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 80%;
}

/**
**************** Mobile **************************
**/
@media (max-width: 769px) {
  .hero-banner h1 {
    position: absolute;
    top: 30%;
    transform: translatey(-25%);
  }
  .hero-banner video {
    height: 90vh;
    object-fit: cover;
    object-position: center;
  }
  .hero-banner .form {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 72%;
    transform: translate(-50%, 50%);
  }
  .hero-banner .form input, .hero-banner .form select {
    background-color: #E1D2C2;
    height: 2.6rem;
    width: 100%;
    padding: 0.65rem;
    border-radius: 8px;
    border: none;
  }
  .hero-banner .form h4 {
    text-align: center;
  }
  .hero-banner .form .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  .hero-banner .form .form-row .form-column:nth-child(2) input {
    text-align: center;
  }
  .hero-banner .form .form-column {
    flex: 1 1 calc(100% - 1.3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
}
.description .row:first-child {
  margin-top: 14rem;
}
.description .location {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}
.description .location img {
  width: 1.4rem;
}

.information .container .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.information .container .row article .content {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.information .container .row article .content .cell {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
}
.information .container .row article .content .cell img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.information .container .row:last-child article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.information .container .row:last-child article .cell {
  width: 30rem;
  overflow: hidden;
}
.information .container .row:last-child article .cell img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.information-hotel .container {
  margin: auto;
}
.information-hotel .container .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.information-hotel .container .row > h3 {
  width: 100%;
}
.information-hotel .container .row article .content {
  width: 30rem;
}
.information-hotel .container .row article .content .cell {
  width: 30rem;
  height: 20rem;
  overflow: hidden;
}
.information-hotel .container .row article .content .cell img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.information-hotel .container .row .facilities img {
  width: 1.8rem;
}
.information-hotel .container .row .facilities ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.information-hotel .container .row .facilities li {
  flex: 1 1 calc(50% - 1.3rem);
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}

/**
**************** Mobile **************************
**/
@media (max-width: 769px) {
  .information .container .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }
  .information .container .row article .content {
    width: 100%;
  }
  .information .container .row article .content .cell {
    width: 19rem;
    height: 21rem;
    overflow: hidden;
  }
  .information .container .row article .content .cell img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.general-info .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.general-info .row li {
  list-style: none;
}
.general-info .row .column {
  width: 30rem;
}
.general-info .row .column > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.general-info .row .column > ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 1.3rem);
  gap: 1.3rem;
}
.general-info .row .column > ul li img {
  width: 1.8rem;
}
.general-info .row .column > ul li ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  width: calc(100% - 1.8rem - 1.3rem);
}
.general-info .row .column > ul li ul li {
  width: calc(50% - 1.3rem);
}
.general-info .row .column > ul li ul .content {
  width: calc(100% - 1.3rem);
}
.general-info .row .column > ul li .content {
  width: calc(100% - 1.8rem - 1.3rem);
}
.general-info .row:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.plus .container, .testimonials .container {
  margin: auto;
}

.primary-button {
  border-radius: 6px;
  font-family: "Playfair Display Medium", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  color: #FFFFFF;
  background-color: #4F6234;
  text-transform: none;
  width: 11.2rem;
  height: 3rem;
}
.primary-button p {
  color: #FFFFFF;
}
.primary-button p {
  font-size: 1.8rem;
}

.secondary-button {
  border-radius: 6px;
  font-family: "Playfair Display Medium", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0rem;
  color: #FFFFFF;
  background-color: #4F6234;
  text-transform: none;
  width: 6.7rem;
  height: 2.3rem;
}
.secondary-button p {
  color: #FFFFFF;
}

.terciary-button {
  border-radius: 6px;
  font-family: "Playfair Display Medium", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0rem;
  color: #FFFFFF;
  background-color: #4F6234;
  text-transform: none;
  width: 11.5rem;
  height: 2.3rem;
}
.terciary-button p {
  color: #FFFFFF;
}

.hotel-card {
  width: 86%;
  gap: 4.1rem;
}
.hotel-card article {
  flex: 1 1 calc(40% - 4.1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.hotel-card .gallery {
  flex: 1.5 1 calc(60% - 4.1rem);
  overflow: hidden;
}
.hotel-card .gallery .gallery-row {
  flex-wrap: nowrap;
  gap: 2rem;
  width: max-content;
}
.hotel-card .gallery .cell {
  width: 39rem;
  height: 43rem;
  overflow: hidden;
}
.hotel-card .gallery .cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.left-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.right-card {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.service-card {
  position: relative;
  width: 30rem;
  height: 22rem;
}
.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-card .content {
  width: 75%;
  position: absolute;
  top: 40%;
  right: 10%;
  text-align: right;
}
.service-card p {
  color: #FFFFFF;
}
.service-card h4 {
  color: #FFFFFF;
}
.service-card .price {
  color: #FFFFFF;
}

.activity-card {
  position: relative;
  width: 30rem;
  height: 22rem;
}
.activity-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.activity-card .content {
  width: 75%;
  position: absolute;
  top: 40%;
  right: 10%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}
.activity-card .content p {
  color: #FFFFFF;
}
.activity-card .content h4 {
  color: #FFFFFF;
}
.activity-card p {
  color: #FFFFFF;
}
.activity-card h4 {
  color: #FFFFFF;
}

.testimonial-card {
  position: relative;
  width: 30rem;
  height: 16rem;
}
.testimonial-card .card-head .cell {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 2rem;
}
.testimonial-card .card-head .cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**
**************** Mobile **************************
**/
@media (max-width: 769px) {
  .left, .right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }
  .left-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .hotel-card {
    width: 72%;
    gap: 0.75rem;
    margin: auto;
  }
  .hotel-card article {
    flex: 1 1 calc(40% - 4.1rem);
  }
  .hotel-card .gallery {
    flex: 1.5 1 calc(60% - 4.1rem);
    overflow: hidden;
  }
  .hotel-card .gallery .gallery-row {
    flex-wrap: nowrap;
    gap: 2rem;
    width: max-content;
  }
  .hotel-card .gallery .cell {
    width: 18rem;
    height: 23rem;
    overflow: hidden;
  }
  .hotel-card .gallery .cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.carousel {
  flex: 1.5 1 calc(60% - 4.1rem);
  overflow: hidden;
}
.carousel .carousel-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  gap: 2rem;
  width: max-content;
}

.testimonials .carousel-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

/**
**************** Mobile **************************
**/
/*
@media (max-width: 1090px) {

.forward-btn, .back-btn{
    img{
        width : 2rem;
    }
}
}
*/
.accordion-btn, .accordion-btn2, .accordion-btn3 {
  background-color: #D9C7B3;
  font-size: 1rem;
  font-family: "Karla Regular", sans-serif;
  border-bottom: 2px #4F6234 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.accordion-content, .accordion-content2, .accordion-content3 {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.closed, .closed2, .closed3 {
  font-size: 2rem;
  font-family: "Karla Regular", sans-serif;
}

.reservation {
  padding-top: 3.5rem;
}
.reservation .form-reservation {
  background-color: #D9C7B3;
  padding: 2rem;
  border-radius: 18px;
}
.reservation .form-reservation input, .reservation .form-reservation select {
  background-color: #E1D2C2;
  height: 3.5rem;
  padding: 1.3rem;
  border-radius: 8px;
  border: none;
}
.reservation .form-reservation .primary-button {
  margin-bottom: 1.5rem;
}
.reservation .form-reservation h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.reservation .form-reservation label {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.reservation .form-reservation .form-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.reservation .form-reservation .form-block > input {
  width: 100%;
}
.reservation .form-reservation .form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}
.reservation .form-reservation .form-row .form-column {
  flex: 1 1 calc(50% - 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.reservation .form-reservation .form-row .form-column > select {
  width: 100%;
}
.reservation .form-reservation .form-row .form-column > input {
  width: 100%;
}
.reservation .form-reservation .form-row .form-row {
  flex: 1 1 calc(50% - 1.3rem);
}
.reservation .form-reservation .adress .form-column:first-child {
  flex: 1 1 calc(30% - 1.3rem);
}
.reservation .form-reservation .adress .form-column:last-child {
  flex: 1 1 calc(70% - 1.3rem);
}
.reservation .form-reservation #infoSejour .form-column {
  flex: 1 1 calc(33% - 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.reservation .form-reservation #options .form-row {
  flex: 1 1 calc(25% - 1.5rem);
  justify-content: start;
  gap: 1rem;
}
.reservation .form-reservation .error {
  background-color: #F8D7DA;
  border-radius: 2px;
}

.summary-modal {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 18px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translatex(-50%);
}
.summary-modal .cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.summary-modal #summary {
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1rem;
}
.summary-modal #summary h3 {
  color: #363A2B;
  font-family: "Playfair Display Medium", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.d-no {
  display: none;
}

.d-yes {
  display: block;
}

/**
**************** Mobile **************************
**/
@media (max-width: 769px) {
  .desktop {
    display: none;
  }
}
/**
**************** Desktop **************************
**/
@media (min-width: 769px) {
  .mobile {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
