@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
//hotel card

.hotel-card{
    width:86%;
    gap:$x-gap-l;

    article{
        flex : 1 1 calc(40% - $x-gap-l);
    }
    .gallery{
        flex : 1.5 1 calc(60% - $x-gap-l);
        overflow: hidden;
        .gallery-row{
            flex-wrap: nowrap;
            gap : $x-gap-m;
            width: max-content;
        }
        .cell{
            width : 39rem;
            height : 43rem;
            overflow: hidden;
            img{
                width: 100%;
                height : 100%;
                object-fit: cover;
            }
        }
        .cell:nth-child(2){
            width : 7rem;
            //width : calc(20% - $x-gap-m);
        }
    }


}
.left-card{
    @include flex(row-reverse,start,center);
}
.right-card{
    @include flex(row,end,center);
}

.service-card{
    position : relative;
    width : 30rem;
    height : 22rem;
    //overflow: hidden;
    img{
        width: 100%;
        height : 100%;
        object-fit: cover;
    }
    .content{
        width : 75%;
        position : absolute;
        top : 40%;
        right : 10%;
        text-align: right;
    }
    p{
        color : $light-color;
    }
    h4{
        color : $light-color;
    }
    .price{
        color : $light-color;
    }
}
.activity-card{
    position : relative;
    width : 30rem;
    height : 22rem;
    //overflow: hidden;
    img{
        width: 100%;
        height : 100%;
        object-fit: cover;
    }
    .content{
        width : 75%;
        position : absolute;
        top : 40%;
        right : 10%;
        text-align: right;
        @include flex (column, space-between, end);
            p{
        color : $light-color;
    }
    h4{
        color : $light-color;
    }
    }
    p{
        color : $light-color;
    }
    h4{
        color : $light-color;
    }
}
.testimonial-card{
    position : relative;
    width : 30rem;
    height : 16rem;
    //overflow: hidden;
    .card-head{
        .cell{
            width : 2rem;
            height : 2rem;
            overflow: hidden;
            border-radius: 2rem;
            img{
                width: 100%;
                height : 100%;
                object-fit: cover;
            }
        }
    }
}