// Variables Couleurs
$primary-color:#363A2B;
$secondary-color:#4F6234;
$terciary-color:#D9C7B3;
$input-color:#E1D2C2;
$background-color:#E5E0DC;
$background-transparent:#E5E0DCE3;
$light-color:#FFFFFF;
