// Variables Polices
$primary-font:'Karla Regular', sans-serif;
$secondary-font:'Playfair Display Medium', sans-serif;
$terciary-font:'Playfair Display Bold', sans-serif;
$quartenary-font:'Karla Medium', sans-serif;
$bold-text-font:'Karla Bold', sans-serif;
$secondary-font-mobile:'Playfair Display Regular', sans-serif;