@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;

.container-fluid{
    width : 100%;
    //min-height : 100vh;
    @include flex(column, center, center);
}
.hero{
    //background-image: url("../images/background/b-0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width : 80%;
    //max-width: 86rem;
}
.row{
    width : 100%;
    margin-top : $y-gap-l;
    margin-bottom : $y-gap-l;
}
.column{
    @include flex(column, space-between, start);
}
a{
    text-decoration: none;
}

/**
**************** Mobile **************************
**/
//@media (max-width: 1090px){}